<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTt-rrFca4pUGnxGZMmGHIPtXTsDM8nwM</string>
	<key>GCM_SENDER_ID</key>
	<string>295796520070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FlexFlix</string>
	<key>PROJECT_ID</key>
	<string>flexflix-7ad69</string>
	<key>STORAGE_BUCKET</key>
	<string>flexflix-7ad69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295796520070:ios:e491918b957b5d8fe9cd07</string>
</dict>
</plist>